<mat-spinner *ngIf="loading"></mat-spinner>
<form [formGroup]="signupForm" *ngIf="!loading" class="signup-form">
  <h3>Inscription</h3>

  <label for="username">Email</label>
  <input type="text" placeholder="Email" id="username" formControlName="email">

  <label for="password">Mot de passe</label>
  <input type="password" placeholder="Password" id="password" formControlName="password">

  <!-- <label class="example-section">
    <mat-checkbox class="example-margin" formControlName="isAdmin">Etes vous un administrateur ?</mat-checkbox>
  </label> -->

  <button class="login" mat-raised-button [disabled]="signupForm.invalid" (click)="onSignup()" aria-label="S'inscrire">S'inscrire</button>
  <p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>
</form>

