<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div *ngIf="posts$| async as posts">
  <ng-container *ngFor="let post of posts.reverse()">
    <!-- html pour afficher un seul post-->

    <div class="container mb80 container-responsif">
      <div class="page-timeline">
        <div class="vtimeline-point">
          <div class="vtimeline-icon">
            <i class="fa fa-image"></i>
          </div>
          <div class="vtimeline-block">
            <div class="vtimeline-content">
              <button mat-button [matMenuTriggerFor]="menu" aria-label="menu">
                <button mat-raised-button color="primary" aria-label="Example icon button with a menu icon"
                  class="edit-icon" *ngIf="userId === post.userId || userId === userAdminId">
                  <mat-icon><span class="material-icons">
                      more_vert
                    </span></mat-icon>
                </button>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openDialog(post._id)" aria-label="Modifier">
                  <mat-icon><span class="material-icons">
                      edit
                    </span></mat-icon>Modifier
                </button>
                <button mat-menu-item (click)="onDelete(post._id)" aria-label="Supprimer">
                  <mat-icon><span class="material-icons">
                      delete
                    </span></mat-icon>Supprimer
                </button>
              </mat-menu>
              <div class="img-container">
                <img [src]="post.imageUrl" alt="" class="img-fluid mb20 imgsize">
              </div>

              <ul class="post-meta list-inline">
                <li class="list-inline-item">
                  <i class="fa fa-user-circle-o">{{ post.userEmail}}</i>
                </li>
                <li class="list-inline-item">
                  <i class="fa fa-calendar-o calendar-icon">{{ post.date| date:'dd/MM/yyyy HH:mm'}}</i>
                </li>
              </ul>
              <p>
                {{ post.description}}
              </p><br>
              <div id="main-content">
                <div>
                  <p> {{post.likes}} like(s)</p>
                  <input class="checkbox" type="checkbox" #checkbox id="checkbox_{{post._id}}" [checked]="post.usersLiked.includes(userId)"
                    (change)="onLike(post._id,checkbox.checked)" />
                  <label for="checkbox_{{post._id}}">
                    <svg id="heart-svg" viewBox="467 392 58 57" xmlns="http://www.w3.org/2000/svg">
                      <g id="Group" fill="none" fill-rule="evenodd" transform="translate(467 392)">
                        <path
                          d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z"
                          id="heart" fill="#AAB8C2" />
                        <circle id="main-circ" fill="#E2264D" opacity="0" cx="29.5" cy="29.5" r="1.5" />

                        <g id="grp7" opacity="0" transform="translate(7 6)">
                          <circle id="oval1" fill="#9CD8C3" cx="2" cy="6" r="2" />
                          <circle id="oval2" fill="#8CE8C3" cx="5" cy="2" r="2" />
                        </g>

                        <g id="grp6" opacity="0" transform="translate(0 28)">
                          <circle id="oval1" fill="#CC8EF5" cx="2" cy="7" r="2" />
                          <circle id="oval2" fill="#91D2FA" cx="3" cy="2" r="2" />
                        </g>

                        <g id="grp3" opacity="0" transform="translate(52 28)">
                          <circle id="oval2" fill="#9CD8C3" cx="2" cy="7" r="2" />
                          <circle id="oval1" fill="#8CE8C3" cx="4" cy="2" r="2" />
                        </g>

                        <g id="grp2" opacity="0" transform="translate(44 6)">
                          <circle id="oval2" fill="#CC8EF5" cx="5" cy="6" r="2" />
                          <circle id="oval1" fill="#CC8EF5" cx="2" cy="2" r="2" />
                        </g>

                        <g id="grp5" opacity="0" transform="translate(14 50)">
                          <circle id="oval1" fill="#91D2FA" cx="6" cy="5" r="2" />
                          <circle id="oval2" fill="#91D2FA" cx="2" cy="2" r="2" />
                        </g>

                        <g id="grp4" opacity="0" transform="translate(35 50)">
                          <circle id="oval1" fill="#F48EA7" cx="6" cy="5" r="2" />
                          <circle id="oval2" fill="#F48EA7" cx="2" cy="2" r="2" />
                        </g>

                        <g id="grp1" opacity="0" transform="translate(24)">
                          <circle id="oval1" fill="#9FC7FA" cx="2.5" cy="3" r="2" />
                          <circle id="oval2" fill="#9FC7FA" cx="7.5" cy="2" r="2" />
                        </g>
                      </g>
                    </svg>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

